.table {
  width: 80%;
  margin: 25px auto 0 auto;
}

.thead {
  background-color: rgb(0, 188, 213);
  border: none;
  padding: 10px;
}

td {
  text-align: center;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: rgb(231, 236, 242);
}

.capitilize {
  text-transform: capitalize;
}
